<div class="flex flex-col w-full h-full justify-center items-center">
    <div class="flex flex-col w-full h-full lg:flex-row items-center justify-center">
        <img src="assets/img/not_found.svg" class="w-11/12 lg:w-2/5 h-auto" alt="A girl holding a magnifier in front of a website">
        <div class="flex flex-col">
            <h1 class="truncate text-xl font-bold mb-4 lg:text-4xl">404 :(</h1>
            <span class="truncate text-lg">We couldn't find the current page.</span>
            <span class="truncate text-lg">Sorry for the inconvenience</span>
        </div>
    </div>
</div>