<div class="container">
    <div class="banner-container">
        <div class="banner">
            <div class="subtitle">
                <small><b>damascus</b> library</small>
                <span>Find books, podcast & more.</span>
            </div>
        </div>
    </div>

    <!-- Your Lectures -->
    <section class="section-container" *ngIf="booksCached$ | async" >
        <div class="headline">
            <h2 style="margin: 0;">Continue were you left</h2>
            <span class="spacer-x"></span>
            <button mat-button color="warn" (click)="onDeleteLogs()">Delete</button>
        </div>
        <ng-container *ngIf="isLoading; else bookLogsContainer">
            <div class="loader-container">
                <mat-progress-bar mode="indeterminate" aria-label="Loading"></mat-progress-bar>
            </div>
        </ng-container>
        <ng-template #bookLogsContainer>
            <div class="book-container animated fadeIn fast">
                <ng-container *ngFor="let cachedBook$ of booksCached$ | async">
                    <app-book-log-card [cachedBook]="cachedBook$"></app-book-log-card>
                </ng-container>
            </div>
        </ng-template>
    </section>

    <!-- Available Lectures -->
    <section class="section-container">
        <div class="headline">
            <h2 style="margin: 0;">Available lectures</h2>
            <span class="spacer-x"></span>
            <button mat-button color="primary" routerLink="/book">More</button>
        </div>
        <ng-container *ngIf="!(books$ | async); else bookContainer">
            <div class="loader-container">
                <mat-progress-bar mode="indeterminate" aria-label="Loading"></mat-progress-bar>
            </div>
        </ng-container>
        <ng-template #bookContainer>
            <app-book-list [books]="books$ | async"></app-book-list>
        </ng-template>
    </section>
</div>