@import 'src/assets/styles/scss/library-theme.scss';
@include mat-core();

$grey: mat-color(mat-palette($mat-grey, A400));
$skel: mat-color(mat-palette($mat-grey, 100));

.container {
    display: flex;
    display: -webkit-flex;

    width: 100%;
    height: inherit;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    .swiper-container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        

        .swiper {
            display: flex;
            display: -webkit-flex;

            justify-content: center;
            align-items: center;
            flex-flow: row wrap;

            font-family: 'Poppins', sans-serif;

            border-radius: 8px;
            background-color: #6200ea;
            height: 300px;
            width: 90%;
            max-width: 1080px;
            margin: 36px 0;

            span {
                text-align: center;
                font-size: x-large;
            }

            img {
                width: 250px;
                height: auto;
            }

            .subtitle {
                display: flex;
                display: -webkit-flex;
                flex-flow: column;
                color: #fff;
                img {
                    height: 24px;
                    width: auto;
                }
            }
        }
    }

    .headline {
        width: 90%;
        max-width: 1080px;
        display: flex;
        display: -webkit-flex;
        justify-content: flex-start;
        align-self: center;
    }

    .book-container {
        display: flex;
        display: -webkit-flex;

        width: inherit;
        height: inherit;

        flex-flow: row wrap;

        justify-content: space-around;
        align-items: flex-start;
        max-width: 1080px;
        align-self: center;

        .book {
            margin: 16px;
            max-width: 300px;
            display: flex;
            display: -webkit-flex;
            cursor: pointer;

            flex-flow: column wrap;

            .cover {
                height: 250px;
                width: 300px;
                max-width: inherit;
                background-color: $accent;
                border-radius: 8px;
            }

            .content {
                display: flex;
                display: -webkit-flex;
                flex-flow: column;
                margin-top: 8px;
                max-width: inherit;

                .type {
                    font-family: 'IBM Plex Sans', serif;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 12px;
                    color: $grey;
                }

                .title {
                    font-family: 'Playfair Display', serif;
                    margin: 4px 0 4px;
                    font-weight: 700;
                    font-size: 24px;
                    text-overflow: ellipsis;
                }

                .date {
                    color: $grey;
                    display: flex;
                    display: -webkit-flex;

                    * {
                        font-size: 16px;
                    }

                    .published {
                        font-size: 12px;
                    }
                }

                .description {
                    font-family: 'IBM Plex Sans', serif;
                    margin: 0 0 8px 0;
                    font-size: 14px;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}