<div class="container flex flex-col items-center w-full h-full">
    <div class="flex flex-col items-center w-full animated fadeIn">
        <div class="banner flex flex-col items-center justify-center w-11/12 bg-cover rounded-lg my-8">
            <div class="flex flex-col items-baseline text-white">
                <span class="text-base lg:text-lg" ><b>damascus</b> library</span>
                <span class="text-lg sm:text-xl lg:text-3xl font-bold">Find books, podcast & more.</span>
            </div>
        </div>
    </div>

    <!-- Your Lectures -->
    <section class="flex flex-col w-11/12" *ngIf="booksCached$ | async" >
        <div class="flex flex-row items-center">
            <h2 class="truncate m-0 font-bold text-xl">Continue were you left</h2>
            <span class="flex-grow"></span>
            <button mat-button color="warn" (click)="onDeleteLogs()">Delete</button>
        </div>
        <div class="book-container animated fadeIn fast">
            <ng-container *ngFor="let cachedBook$ of booksCached$ | async">
                <app-book-log-card [cachedBook]="cachedBook$"></app-book-log-card>
            </ng-container>
        </div>
    </section>

    <!-- Available Lectures -->
    <section class="flex flex-col w-11/12">
        <div class="flex flex-row items-center">
            <h2 class="truncate m-0 font-bold text-xl">Available lectures</h2>
            <span class="flex-grow"></span>
            <button mat-button color="primary" routerLink="/book">More</button>
        </div>
        <app-book-list [books]="books$ | async"></app-book-list>
    </section>
</div>