@import 'src/assets/styles/scss/library-theme.scss';
@include mat-core();

$grey: mat-color(mat-palette($mat-grey, A400));
$skel: mat-color(mat-palette($mat-grey, 200));

.container {
    display: flex;
    display: -webkit-flex;

    width: 100%;
    height: inherit;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    .banner-container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;

        .banner {
            display: flex;
            display: -webkit-flex;

            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap-reverse;

            font-family: 'Poppins', sans-serif;
            font-weight: 700;

            border-radius: 8px;
            background-color: #212121;
            height: 300px;
            width: 90%;
            max-width: 1080px;
            margin: 36px 0;

            background: linear-gradient(
                rgba(20,20,20, .3), 
                rgba(20,20,20, 0)),
                url('https://images.unsplash.com/photo-1576675049039-e0abcef5ce69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
            
            background-size: cover;

            span {
                text-align: center;
                font-size: 2em;
            }

            img {
                width: 250px;
                height: auto;
            }

            .subtitle {
                display: flex;
                display: -webkit-flex;
                flex-flow: column;
                color: #fff;
                img {
                    height: 36px;
                    width: auto;
                }

                small {
                    font-weight: 400;
                }
            }
        }
    }

    .section-container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column;

        width: 90%;
        max-width: 1080px;

        .headline {
            width: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-self: center;
            overflow: hidden;

            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    
        .loader-container {
            width: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-self: center;
        }
    }


}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container > .banner-container > .banner{
        span {
            font-size: 1.3em;
        }
    }
}