@import 'src/assets/styles/scss/library-theme.scss';
@include mat-core();

$grey: mat-color(mat-palette($mat-grey, A400));
$skel: mat-color(mat-palette($mat-grey, 200));

.container {
    display: flex;
    display: -webkit-flex;

    width: 100%;
    height: inherit;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    .swiper-container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        

        .swiper {
            display: flex;
            display: -webkit-flex;

            justify-content: center;
            align-items: center;
            flex-flow: row wrap-reverse;

            font-family: 'Poppins', sans-serif;
            font-weight: 700;

            border-radius: 8px;
            background-color: #212121;
            height: 300px;
            width: 90%;
            max-width: 1080px;
            margin: 36px 0;

            background-image: url('src/assets/img/topography.svg');

            span {
                text-align: center;
                font-size: larger;
            }

            img {
                width: 250px;
                height: auto;
            }

            .subtitle {
                display: flex;
                display: -webkit-flex;
                flex-flow: column;
                color: #fff;
                img {
                    height: 36px;
                    width: auto;
                }
            }
        }
    }

    .section-container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column;

        width: 90%;
        max-width: 1080px;

        .headline {
            width: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-self: center;
            overflow: hidden;

            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    
        .loader-container {
            width: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-start;
            align-self: center;
        }
    }


}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
}