<div class="wrapper">
    <div class="toolbar">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="logo" routerLink="/">
                    <img src="assets/img/branding/damascus_white.svg" alt="damascus logo" height="24" width="24">
                    <span id="title">damascus <span style="font-weight: 400 !important;">Library</span></span>
                </div>
                <span class="spacer-x"></span>
                <button mat-icon-button><mat-icon>search</mat-icon></button>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="searchbar">
                <mat-form-field appearance="standard" color="accent">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" type="text" placeholder="Search for a book, resource, etc" >
                    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="book">
                <mat-icon>menu_book</mat-icon>
                <span>Books</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>wifi_tethering</mat-icon>
                <span>Podcasts</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>file_copy</mat-icon>
                <span>Docs</span>
            </button>
            <button mat-menu-item routerLink="settings">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
        </mat-menu>
    </div>
    <div class="container mat-app-background">
        <router-outlet></router-outlet>
    </div>
</div>
