<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-container">
            <img routerLink="/" src="assets/img/branding/damascus_black.png" alt="damascus" height="64" width="64" style="cursor: pointer;">
            <div class="action-list">
                <a class="item" mat-fab color="accent" routerLink="/" routerLinkActive="primary-overlay" [routerLinkActiveOptions]="{exact: true}"><mat-icon>dashboard</mat-icon></a>
                <a class="item" mat-fab color="accent" routerLink="/search" routerLinkActive="primary-overlay"><mat-icon>search</mat-icon></a>
                <a class="item" mat-fab color="accent" routerLink="/upload" routerLinkActive="primary-overlay"><mat-icon svgIcon="cloud-upload"></mat-icon></a>
                <div class="spacer-y"></div>
                <a class="item" mat-fab color="accent" routerLink="/settings" routerLinkActive="primary-overlay"><mat-icon>settings</mat-icon></a>
            </div>
        </div>
    </div>
    <mat-toolbar class="navbar">
        <img routerLink="/" src="assets/img/branding/damascus_black.png" alt="damascus" height="48" width="48" style="cursor: pointer;">
        <span class="spacer-x"></span>
        <div class="action-list">
            <a class="item" mat-mini-fab color="accent" routerLink="/search" routerLinkActive="primary-overlay" style="margin: 0 24px;"><mat-icon>search</mat-icon></a>
            <button class="item" mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Main menu">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="book">
            <mat-icon>menu_book</mat-icon>
            <span>Books</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>wifi_tethering</mat-icon>
            <span>Podcasts</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>file_copy</mat-icon>
            <span>Docs</span>
        </button>
        <button mat-menu-item routerLink="settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
    </mat-menu>
    <div class="container mat-app-background mat-elevation-z8">
        <router-outlet></router-outlet>
    </div>
</div>
