<div class="wrapper">
    <div class="toolbar">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="logo" routerLink="/">
                    <img src="assets/img/branding/damascus_white.svg" alt="damascus logo" height="24" width="24">
                    <span id="title">damascus <span style="font-weight: 400 !important;">Library</span></span>
                </div>
                <span class="spacer-x"></span>
                <button mat-icon-button><mat-icon>search</mat-icon></button>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="searchbar">
                <mat-form-field appearance="standard" color="accent">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" type="text" placeholder="Search for a book, resource, etc" >
                    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-menu #menu="matMenu">
            <div mat-menu-item>
              <mat-icon>brightness_4</mat-icon>
              <span>Dark Mode</span>
              <span class="spacer-x"></span>
              <mat-slide-toggle color="accent"></mat-slide-toggle>
            </div>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item routerLink="etc">
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
        </mat-menu>
    </div>
    <div class="container mat-app-background">
        <router-outlet></router-outlet>
    </div>
</div>
