@import 'src/assets/styles/scss/library-theme.scss';

$border-radius: 24px;

.wrapper {
    z-index: 1;
    background-color: $foreground;

    .sidebar {
        z-index: 2;
        height: inherit;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        // background-color: inherit;

        .sidebar-container {
            // margin: 64px 64px 0;
            height: inherit;

            .action-list{
                margin-top: 64px;

                height: 75%;

                .item {
                    margin: 24px 0;
                }
            }
        }
    }

    .navbar {
        // background-color: inherit;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        z-index: 2;
    }

    .d-container {
        overflow: auto;
        background-color: $foreground;
    }
}