@import 'src/assets/styles/scss/library-theme.scss';

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    z-index: -1;


    .sidebar {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;

        flex-flow: column;
        align-items: center;

        height: inherit;

        background-color: $foreground;

        .sidebar-container {
            margin: 64px 64px 0;
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-flow: column;
            height: inherit;

            justify-content: flex-start;

            .action-list{
                margin-top: 64px;
                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                flex-flow: column;

                height: 75%;

                .item {
                    margin: 24px 0;
                }
            }
        }
    }

    .navbar {
        z-index: 1;
        display: none;
    }

    .container {
        border-radius: 24px 0 0 24px;
        flex: 1 1 auto;
        height: 100vh;
        overflow: auto;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .wrapper {
        flex-flow: column;

        .sidebar-container, .sidebar {
            display: none;
        }

        .navbar {
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;

            flex-flow: row wrap;
            align-items: center;

            width: inherit;

            padding-top: 16px;
        }

        .container {
            border-radius: 24px 24px 0 0;
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    /* For tablets phones: */
    .wrapper {
        flex-flow: column;

        .sidebar-container, .sidebar {
            display: none;
        }

        .navbar {
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;

            flex-flow: row wrap;
            align-items: center;

            width: inherit;

            padding-top: 16px;
        }

        .container {
            border-radius: 24px 24px 0 0;
            margin-top: 40px;
        }
    }
}