@import 'src/assets/styles/scss/library-theme.scss';
@include mat-core();

$grey: mat-color(mat-palette($mat-grey, A400));

.card {
    background-color: $background;

    .title {
        white-space: normal !important;
    }

    .read {
        color: $grey;
    }

    .img-src {
        height: 96px;
        width: 96px;

        background-image: url('src/assets/img/wiggle.svg');
        background-position: center;
    
        background-color: $accent;
        border-radius: 100%;
    }
}

